<div class="row">
    <div class="col-6">
        <!-- *ngIf="diceTrayService.diceTray.length >= 1" -->
        <div id="diceSelectionContainer">
            <div *ngFor="let trayDice of diceTrayService.diceTray"
                 class="user-dice-instance-container render-d{{trayDice.dice.maxResult}}">
                <div class="user-dice-instance-content">
                    <p>
                        {{ trayDice?.rollResult?.result || ("D-"+trayDice.dice.maxResult)}}
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <input type="button"
                   *ngFor="let dice of availableDiceService.getDice()"
                   #selectedDice
                   value="{{dice.maxResult}}"
                   (click)="addDice(dice)">
        </div>

        <div class="col-6">
            <input type="button"
                   id="clearDice"
                   value="Clear "
                   (click)="clearDice()" />
            <input type="button"
                   id="rollDice"
                   value="Roll! "
                   (click)="rollDice()" />
        </div>
    </div>
</div>